<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Settings">
        <setting label="Nightscout" type="lsep" />
        <setting id="nightscout" type="text" label="URL" default="https://<USER>.herokuapp.com" />
		<setting label="Option" type="lsep" />
		<setting id="sound" type="select" label="Sound (If possible)" values="On|Off" default="Off" />
    </category>
</settings>